# Project Settings
PROJECT_NAME="FAQs RAG API"
VERSION="0.1.0"

# OpenAI or LLM Settings
OPENAI_API_KEY="your-openai-api-key"

# Vertex AI Settings
GOOGLE_CLOUD_PROJECT="your-google-cloud-project-id"
GOOGLE_CLOUD_LOCATION="us-central1"
GOOGLE_API_KEY="your-google-api-key"

# Vector Database
VECTOR_DB_URL="http://chromadb:8000"
